<% provide(:title, t('kc'))  %>

<div class="page-content">
 </br> </br>
  <section class="container">
      	<div class="row">
          <!--Contact Info-->
        	<div class="col-lg-5 col-lg-offset-1 col-md-5 col-sm-5">
            <h3>Contact info</h3>
            <div class="cont-info-widget">
            <ul>
              <li><i class="fa fa-building"></i>4120 Lenox Avenue, New York,<br/>10035 76 Saint Nicholas Avenue</li>
              <li><a href="#"><i class="fa fa-envelope"></i>mail@Limo.com</a></li>
              <li><a href="#"><i class="fa fa-support"></i>support@Limo.com</a></li>
              <li><i class="fa fa-phone"></i>+48 543765234</li>
              <li><i class="fa fa-mobile"></i>+48 555 234 54 34</li>
            </ul>
            </div>
          </div>
        </div>
      </section><!--Contacts Close-->
  <section class="brand-carousel">
    <div class="container">
    <h2><%= t('kc') %><h2>     
    </div>
  </section>
</div>