<% provide(:title, t('gh'))  %>


<div class="page-content">    
  <!--Hero Slider-->
    <section class="hero-slider">
      <div class="master-slider" id="hero-slider">
        <% @slider.each do |slide| %>
          <div class="ms-slide" data-delay="7">
            <div class="overlay"></div>
            <img src="masterslider/blank.gif" data-src=<%= "http://cliassi.vot.pl/uploads/" + slide.img %> alt=""/>
            <h2 style="width: 456px; left: 110px; top: 110px;" class="dark-color ms-layer" data-effect="top(50,true)"
                       data-duration="700" data-delay="250" data-ease="easeOutQuad">


              <%=  if params[:locale] == "pl" or params[:locale].nil?
                    slide.title_pl
                   else
                    slide.title_en
                   end %>

            </h2>
            <p style="width: 456px; left: 110px; top: 210px;" class="dark-color ms-layer" data-effect="back(500)" data-duration="700" data-delay="500" data-ease="easeOutQuad">
              <%=  if params[:locale] == "pl" or params[:locale].nil?
                  slide.subtitle_pl
                 else
                  slide.subtitle_en
                 end %></h2></p>            
          </div>
        <% end %>          
      </div>
    </section>
  <!--Hero Slider Close-->
</div>