<div class="page-content">
	<ol class="breadcrumb">
      <li><a href=<%= root_url %>>Home</a></li>
      <li>shirts</li>
  </ol><!--Breadcrumbs Close-->


	<section class="catalog-grid">
  	<div class="container">          
      <div class="row">
        <p>
          <strong>Customer:</strong>
          <%= @customer.name %>
        </p>
        <%= render @customer.favorites %>
      </div>
    </div>
  </section>      
      <!--Catalog Grid-->

    
      <!--Brands Carousel Widget-->
  <section class="brand-carousel">
    <div class="container">
      <h2>Favorites</h2>
     
    </div>
  </section><!--Brands Carousel Close-->
</div>
      
