<% provide(:title, t('rr')) %>
<h1>Sign up</h1>

<div class="page-content">

   <section class="log-reg container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

       <h2>Order</h2>

          <!--Login-->
          <div class="col-lg-4 col-md-4 col-sm-4">
            <%= render 'form' %>
          </div>

<div class="col-lg-8 col-md-8 col-sm-8">
	<div class="registr-form">
	<h1>Your order:</h1>
  <div id="cart" >
			<%= render @cart %>
      </div>
  </div>
</div>
        
      </section><!--Login / Register Close-->
</div>

