<% provide(:title, t('ks'))  %>
</br>
</br>
</br>
<div class="page-content">


	<ol class="breadcrumb">
        <li><a href=<%= root_url %>>Home</a></li>
        <li>shirts</li>
      </ol><!--Breadcrumbs Close-->


		<section class="catalog-grid">
      	<div class="container">
          <h2 class="with-sorting">No filters 4 columns</h2>
          <div class="sorting">
            <a href="#">Sort by name</a>
            <a href="#">Sort by price</a>
          </div>
          <div class="row">

<% @shirts.each do |shirt| %>
	<% pictures = shirt.photos.split("/") %>







			<div class="col-lg-3 col-md-4 col-sm-6">
            	<div class="tile">
              	<div class="badges">
                </div>
              	<div class="price-label"><%= params[:locale] == "pl" ? shirt[:price_pln].to_s + " zł" : shirt[:price_eur].to_s + " €" %></div>
              	<a href="#">
                  <img src="img/catalog/1.png" alt="1"/>
                  <span class="tile-overlay"></span>
                </a>
                <div class="footer">
                	<a href=<%= "http://cliassi.vot.pl/uploads/" + pictures[0] %>><%= shirt.name %></a>
                  <button class="btn btn-primary">Add to Cart</button>
                </div>
              </div>
            </div>






<% end %>
</div>


      
      <!--Catalog Grid-->
      <section class="catalog-grid">
      	<div class="container">


          <!--Pagination-->
          <ul class="pagination">
            <li class="prev-page"><a class="icon-arrow-left" href="#"></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="next-page"><a class="icon-arrow-right" href="#"></a></li>
          </ul>
        </div>
      </section><!--Catalog Grid Close-->
    
      <!--Brands Carousel Widget-->
      <section class="brand-carousel">
        <div class="container">
          <h2>Brands in our shop</h2>
          <div class="inner">
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
          </div>
        </div>
      </section><!--Brands Carousel Close-->
      
